<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供-->
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>
	
	<!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
	<!-- <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory
		<property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
	</bean> -->
	
	<!-- 连接池 -->
	<!-- <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory" ref="targetConnectionFactory"/>
	</bean> -->

	<!-- 配置消息目标 -->
	<!-- 在ActiveMQ中实现了两种类型的Destination，一个是点对点的ActiveMQQueue，另一个就是支持订阅/发布模式的ActiveMQTopic -->
	
	<!-- 一个是点对点的ActiveMQQueue -->
	<!-- <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="myqueue" />
	</bean> -->
	
	<!-- 订阅/发布模式的ActiveMQTopic ,这个是主题目的地，一对多的-->  
	<bean id="destination" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="topic"></constructor-arg>
	</bean>
	
	
	<!-- 消息模板 -->
	<bean id="simpleMessageConverter" class="org.springframework.jms.support.converter.SimpleMessageConverter" />
	
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="activeMQConnectionFactory" />
		<property name="defaultDestination" ref="destination" />
		<property name="messageConverter" ref="simpleMessageConverter"/>
	</bean>
</beans>